<h1>Bem vindo a fabrica de Tijolos</h1>

<div class="e-section-control">
                    <button ejs-button cssClass='e-link'><a href="http://localhost:8080/app/producao" target='_blank'>Iniciar Producao</a></button>
                </div>
<div class="e-section-control">
                    <button ejs-button cssClass='e-link'><a href="http://localhost:8080/app/relatorio" target='_blank'>Gerar Relatorio</a></button>
                </div>
<div class="e-section-control">
                    <button ejs-button cssClass='e-link'><a href="http://localhost:8080/app/consulta/(digite-o-Id-aqui)" target='_blank'>Consultar Tijolo ID</a></button>
                </div>
